.navbar {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 20000000;
}

.navbar a {
    color: #fff;
}

.navbar_bg {
    background-color: #d7dfef;
}

.navbar_bg a {
    color: #000;
}

.nav-container {
    width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    flex-grow: 1;
    margin: 20px;
}

.sub-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 120px;
    border-radius: 10px;
    background-color: #f8f8f8;
    z-index: 99;
}   
.sub-menu a{
    color: #212529;
}
.title-item{
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav__bot ul {
    list-style: none;
    display: flex;
    text-align: center;
}

.nav__bot ul li {
    flex-grow: 1;
}

.nav-links {
    color: #12263f;
    text-decoration: none;
}

.nav-item {
    display: flex;
    line-height: 47px;
    margin-right: 1rem;
    position: relative;
    justify-content: center;
    font-weight: 500;
}

.nav-item .active {
    color: #fed136;
}

.nav-icon {
    display: none;
}

.icon__mobile {
    display: none;
}

.login {
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 33px;
    padding: 0 20px;
    margin-left: 50px;
    min-width: 100px;
    color: #fff;
    background: #5ba5fb;
    height: 35px;
    border: 1px solid #fff;
    letter-spacing: 1px;
    border-radius: 5px;
}

.login:hover {
    background: #e93a47;
    border-color: #e93a47;
    transition: .3s linear;
}

.nav-item :hover {
    color: #fed136;
    transition: .5 ease-in;
}

@media screen and (max-width: 960px) {
    .icon__mobile {
        display: block;
    }

    .container {
        width: 100%;
        justify-content: space-between;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        opacity: 1;
        margin-top: 5px;
        visibility: hidden;
    }
    .sub-menu{
        width: 100%;
        left: 0;
    }
    .navbar {
        background-color: #d7dfef;
    }

    .nav-container {
        width: 85%;

        margin: 0 auto;

    }

    .nav__top {
        flex-direction: column;
        align-items: center;
    }

    .nav-logo {
        padding: 0;
    }

    .nav__bot {
        display: flex;
        justify-content: center;
        background-color: #d7dfef;
    }

    .nav__bot ul {
        flex-direction: column;
        width: 90%;
        gap: 0;
        border-top: 1px solid #fed136;
    }

    .nav-menu.active {
        text-align: center;
        background: #fff;
        top: 75px;
        opacity: 1;
        z-index: 1;
        visibility: visible;
    }

    .item_header {
        margin: 0;
        margin-bottom: 20px;
    }

    .nav-item .active {
        color: #0352cc;
        border: none;
    }

    .nav-item a {
        display: flex;
        align-items: center;
        gap: 5px;
        color: #000;
    }

    .nav-item a i {
        display: flex;
    }

    .nav-links {
        display: table;
        width: 100%;
    }

    .nav-icon {
        display: block;
        padding-right: 20px;
        font-size: 1.8rem;
        cursor: pointer;
        color: white;
        background-color: #086bfe;
        height: 30px;
        width: 30px;
        padding: 4px 12px;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    .icon__seting {
        width: 0;

    }

    .login {
        border: none;
        width: 100px;
        height: 35px;
        padding: 0 20px;
        color: #fff !important;
        text-align: center;
        background: #5ba5fb;
        border-radius: 5px;
        margin: 12px 0;
        font-size: 12px;
    }
}