.home2 {
    background: url(../img/home_2/backgroud.png) no-repeat top;
    width: 100%;
    height: 700px;
    background-size: cover;
}

.home2__logo {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background-color: #fff;
}